@charset "UTF-8";



.header__nav {
   position: relative;
}

.header__nav>ul {
   position: relative;
   z-index: 2;
}

.header__nav-fon-menu {
   position: absolute;
   top: 17px;
   right: -210px;
   z-index: 1;
   padding-top: 30px;
   opacity: 0;
   -webkit-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;
}

.header__nav-fon-menu-in {
   position: relative;
   width: 870px;
   border-radius: 10px;
   background-color: #ffffff;
   -webkit-transition: height 0.5s;
   -o-transition: height 0.5s;
   transition: height 0.5s;
   -webkit-box-shadow: 0 30px 70px rgba(16, 28, 50, 0.25);
   box-shadow: 0 30px 70px rgba(16, 28, 50, 0.25);
}

.header__nav-fon-menu-arrow {
   position: absolute;
   top: -10px;
   width: 20px;
   height: 20px;
   background-color: rgb(255, 255, 255);
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   -webkit-transition: left 0.5s;
   -o-transition: left 0.5s;
   transition: left 0.5s;
}

._with-submenu-button {
   white-space: nowrap;
}

.header__nav ul li._with-submenu .new-submenu {
   -webkit-transition: opacity 0.5s, -webkit-transform 0.8s;
   transition: opacity 0.5s, -webkit-transform 0.8s;
   -o-transition: opacity 0.5s, transform 0.8s;
   transition: opacity 0.5s, transform 0.8s;
   transition: opacity 0.5s, transform 0.8s, -webkit-transform 0.8s;
}

.header__nav ul li._with-submenu .new-submenu__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
}

.header__nav ul li._with-submenu .new-submenu-lists li {
   -webkit-box-flex: 1;
   -ms-flex: 1 0 30%;
   flex: 1 0 30%;
   max-width: 400px;
   padding: 0px;
   margin-bottom: 5px;
   border-radius: 10px;
   -webkit-transition: background-color 0.5s;
   -o-transition: background-color 0.5s;
   transition: background-color 0.5s;
}

._pc .header__nav ul li._with-submenu .new-submenu-lists li:hover {
   background-color: #1843BF;
}

._pc .header__nav ul li._with-submenu .new-submenu-lists li:hover .new-submenu__title {
   color: #ffffff;
}

._pc .header__nav ul li._with-submenu .new-submenu-lists li:hover .new-submenu__text {
   color: #CEDEF1;
}

.header__nav ul li._with-submenu .new-submenu__link {
   padding: 10px 20px;
   margin: 0px;
   display: block;
   width: 100%;
   max-width: 400px;
}

.header__nav ul li._with-submenu .new-submenu__block {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}

.header__nav ul li._with-submenu .new-submenu__title {
   font-size: 18px;
   color: #1843BF;
   -webkit-transition: color 0.3s;
   -o-transition: color 0.3s;
   transition: color 0.3s;
}

.header__nav ul li._with-submenu .new-submenu__text {
   font-size: 12px;
   font-weight: 400;
   color: #565656;
   line-height: 150%;
   white-space: normal;
   -webkit-transition: color 0.3s;
   -o-transition: color 0.3s;
   transition: color 0.3s;
}

.header__nav ul li._with-submenu a ._with-submenu_svg {
   position: absolute;
   top: 50%;
   -webkit-transform: translate(100%, -50%);
   -ms-transform: translate(100%, -50%);
   transform: translate(100%, -50%);
   right: -5px;
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}

.header__nav ul li._with-submenu:hover a ._with-submenu_svg {
   -webkit-transform: rotate(180deg) translate(-100%, 50%);
   -ms-transform: rotate(180deg) translate(-100%, 50%);
   transform: rotate(180deg) translate(-100%, 50%);
}

.header__nav>ul>li:not(:last-child) {
   border-right: 1px solid #cedef1;
}

.lang .lang-svg {
   margin-right: 3px;
}

.lang:hover .lang-svg path {
   fill: #ffffff;
}

.lang:hover a {
   color: #ffffff;
}

/* кнопка язык, эти стили надо заменить в действующих*/

/* account.css */

/* стр 847 */

.lang ul {
   border-radius: 5px;
   padding: 3px;
   background-color: #E2EAF2;
}

/* стр 865 */

.lang a {
   padding: 5px;
   color: #FF6600;
   background-color: #ffffff;
}

/* стр 881 */

.no-webp .lang a:after {
   background: url(../img/header_change/svg/globe-earth.png) no-repeat left center;
}

/* =========== УДАЛИТЬ В ДЕЙСТВУЮЩИХ СТИЛЯХ ============== */

/*   style.min.css
  /// стр 1223
  .header__nav ul li._with-submenu a svg {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
    right: -5px;
  -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  /// стр 1271
  .header__nav ul li._with-submenu:hover a svg {
    transform: rotate(180deg) translate(-100%, 50%);
  } 
  ///  стр 1200
  .header__nav ul li:not(:last-child) {
     border-right: 1px solid #cedef1;
  }
  ///  стр  1302
  .header__nav ul li._with-submenu ._submenu ul li::before {
     content: "";
     display: block;
     width: 13px;
     height: 13px;
     background: #fff;
     border: 5px solid #FF6600;
     position: absolute;
     border-radius: 50%;
     top: 50%;
     -webkit-transform: translate(-100%, -50%);
     -ms-transform: translate(-100%, -50%);
     transform: translate(-100%, -50%);
     left: -5px;
  }
  /// стр 1208
  .header__nav ul li._with-submenu {
     border-right: unset;
     position: relative; <= // убрать эту строку
  }
 
 
 
 /// стр 9099     убрать тень и фон
  .mobile-header__inner .header__nav ul {
    background: #fff;
 -webkit-box-shadow: 0 30px 70px rgba(16, 28, 50, 0.25);
 box-shadow: 0 30px 70px rgba(16, 28, 50, 0.25);
 }
 
 /// стр 14229  убрать, скрывает .header__lang при ширине 700px
     .header .header__inner>.header__lang, 
 
 
 /// стр 9120  style.min.css
 
    .mobile-header__inner .header__nav ul ._with-submenu svg {
         display: none;
     } 
 
 
     */

/* модальное окно язык и валюта */

/* ===== УДАЛИТЬ ЛИШНИЕ СТИЛИ ========*/

/*
 стр 13597   style.min.css 
 стр 8090  account.css
  .modal_title_lang {
     padding: 0 50px;
     font-weight: 700;
     font-size: 18px;
     text-align: center;
     text-transform: uppercase;
     color: #343434;
     margin-bottom: 20px;
 }
 
 
 стр 13548   style.min.css 
 стр 4424  account.css
 
 .modal_title {
     padding: 0 50px;
 }
 
 стр 13532   style.min.css 
 стр 4408  account.css
 .inner_modal {
   padding: 25px 20px 20px 20px; 
  }
 
 стр 841  account.css
  стр 1121  style.min.css 
 .lang a:after {
   content: '';
   position: absolute;
   top: 0;
   left: 7px;
   width: 18px;
   height: 100%;
   background: url(../svg/globe-earth.svg) no-repeat left center;
 }
 
 стр 969  account-new.css
 #dep_info {
     width: 682px;
 }
 
 стр 1711  account-new.css
 .left {
     overflow-y: visible;
 } 
 
 
 */

/* ==== ЗАМЕНИТЬ СВОЙСТВА на указанные ===== */

/* 
 стр 13553   style.min.css 
 стр 4427  account.css
 .btn_close_modal {
   top: 10px;
   right: 10px;
  }
 
  стр 13593   style.min.css 
 стр 4427  account.css
 #language .inner_modal {
     max-width: 780px;
 }
 
 */

/* заменить и добавить в account.css  */

/*  стр 4384 */

.modal {
   display: none;
   /*    display: -webkit-box;
   display: -ms-flexbox;
   display: flex; */
   /*    opacity: 0; */
   /*    pointer-events: none; */
   /*    -webkit-transition: opacity 0.3s;
   -o-transition: opacity 0.3s;
   transition: opacity 0.3s; */
}


/*  стр 4404 */

.modal.show {
   /*    opacity: 1; */
   /*   pointer-events: all; */
}

#tax.modal.show {
   padding-top: 20px;
   padding-bottom: 20px;
}

.open_modal {
   overflow: hidden;
}

#language .inner_modal {
   padding: 0;
}

button.btn_close_modal {
   top: 10px;
}

.modal_tabs {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 5;
   display: -ms-grid;
   display: grid;
   padding: 20px;
   width: 100%;
   pointer-events: none;
   opacity: 0;
   will-change: opacity;
   -webkit-transition: opacity 0.2s;
   -o-transition: opacity 0.2s;
   transition: opacity 0.2s;
}

.show .modal_tabs.modal_tabs-visible {
   pointer-events: all;
   opacity: 1;
   z-index: 10;
}

.language-modal_title {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 20px;
   -moz-column-gap: 20px;
   column-gap: 20px;
   padding: 0px 10px;
   font-weight: 500;
   font-size: 16px;
   color: #9FA8B1;
   border-bottom: 1.5px solid #C6D6E6;
}

.language-modal_title::before {
   content: "";
   position: absolute;
   bottom: -1px;
   left: var(--l);
   height: 2px;
   width: var(--w);
   background-color: #FF6600;
   -webkit-transition: left 0.3s;
   -o-transition: left 0.3s;
   transition: left 0.3s;
}

.language-modal_title button {
   margin-bottom: -1px;
   display: block;
   min-height: 54px;
   border: none;
}

.modal_title_button.modal_title_button-active {
   font-weight: 700;
   font-size: 24px;
   color: #343434;
   border: none;
}

.modal_search {
   position: relative;
   display: block;
   margin: 20px 20px 0px;
}

.modal_search input {
   border: none;
}

.modal_search input {
   width: 100%;
   padding: 0px 34px;
   min-height: 41px;
   background-color: #F5F8FB;
   border-radius: 10px;
}

.modal_search input::-webkit-input-placeholder {
   color: #9FA8B1;
}

.modal_search input::-moz-placeholder {
   color: #9FA8B1;
}

.modal_search input:-ms-input-placeholder {
   color: #9FA8B1;
}

.modal_search input::-ms-input-placeholder {
   color: #9FA8B1;
}

.modal_search input::placeholder {
   color: #9FA8B1;
}

.modal_search-icon {
   position: absolute;
   top: 50%;
   left: 10px;
   -webkit-transform: translate(0%, -50%);
   -ms-transform: translate(0%, -50%);
   transform: translate(0%, -50%);
}

.modal_search_clear-icon {
   position: absolute;
   top: 50%;
   right: 10px;
   -webkit-transform: translate(0%, -50%);
   -ms-transform: translate(0%, -50%);
   transform: translate(0%, -50%);
}

.currency__list {
   /*  display: grid; */
   -ms-grid-columns: 1fr 1fr 1fr 1fr;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
}

.currency__list a:hover {
   background-color: #1843BF;
}

.currency__list a:hover .currency__item-name {
   color: #ffffff;
}

.currency__list a:hover .currency__item-abbreviation {
   color: #C6D6E5;
}

.currency__list a {
   border-radius: 10px;
}

.currency__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 10px;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
   min-height: 52px;
   border-radius: 10px;
}

.currency__item-block {
   font-size: 12px;
   font-weight: 500;
   line-height: 135%;
}

.currency__item-name {
   color: #222531;
   -webkit-transition: color 0.5s;
   -o-transition: color 0.5s;
   transition: color 0.5s;
}

.currency__item-abbreviation {
   color: #58667E;
   -webkit-transition: color 0.3s;
   -o-transition: color 0.3s;
   transition: color 0.3s;
}

.currency__item-icon {
   opacity: 0;
}

.currency__check.currency__list-link .currency__item-name {
   color: #ffffff;
}

.currency__check.currency__list-link .currency__item-abbreviation {
   color: #C6D6E5;
}

.currency__check.currency__list-link {
   background-color: #1843BF;
}

.currency__check .currency__item-icon {
   opacity: 1;
}

.modal-tabs__wrapper {
   position: relative;
   will-change: height;
   height: auto;
   overflow: hidden;
   will-change: height;
   -webkit-transition: height 0.3s;
   -o-transition: height 0.3s;
   transition: height 0.3s;
}

/* ===================== dashboard ======================= */

.inner_border_title-body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   min-width: 100%;
}

.inner_border_title-body-text {
   margin-right: 10px;
   font-size: 14px;
   text-align: end;
   width: 135px;
}

.inner_border_title-body .auth_check {
   margin: 0px;
}

.agreement {
   position: sticky;
   top: calc(100vh - 60px);
   padding-left: 35px;
}

.agreement__linck {
   margin-bottom: 8px;
}

.agreement__linck a,
.agreement__text {
   font-size: 12px;
   color: #000000;
}

/* ._link-anim - эти стили есть в style.min.css, но решил добавить 
 их что бы не подключать весе стили ради трёх классов */

._link-anim {
   position: relative;
   text-decoration: none;
   display: inline-block;
   color: #1843bf;
   padding: 0 1px;
   -webkit-transition: color ease 0.3s;
   -o-transition: color ease 0.3s;
   transition: color ease 0.3s;
   line-height: 1.2;
}

._link-anim::after {
   content: "";
   position: absolute;
   z-index: 0;
   width: 100%;
   height: 1px;
   left: 0;
   bottom: -3px;
   background-color: #cedef1;
   -webkit-transition: all ease 0.3s;
   -o-transition: all ease 0.3s;
   transition: all ease 0.3s;
   /* opacity: 0.4; */
}

._link-anim:hover::after {
   height: calc(100% + 6px);
   opacity: 0.4;
}

/* =====  календарь  ======= */

/* новые стили */

.ui-datepicker-calendar {
   margin: 10px 15px;
}

.ui-datepicker-calendar .selected .ui-state-active {
   background-color: #CDE0F2;
   color: #343434;
   border-radius: 0px;
}

.ui-datepicker-calendar .selected.selected-start a {
   background-color: #1843BF;
   border-radius: 10px 0px 0px 10px;
   color: #ffffff;
}

.ui-datepicker-calendar .selected.selected-end a {
   background-color: #1843BF;
   border-radius: 0px 10px 10px 0px;
   color: #ffffff;
}

.ui-datepicker-calendar .selected.selected-start.selected-end a {
   border-radius: 10px;
}

/* из account.css изменить */

/* 2279 */

.ui-datepicker {
   padding: 0px;
}

/* 2340 */

.ui-datepicker-calendar th {
   padding: 0px 0px;
}

/* 2352 */

.ui-datepicker-calendar td {
   padding: 5px 0px;
}

/* 2360 */

.ui-datepicker-calendar td a {
   width: 35px;
   height: 30px;
}

/* 2298 */

.ui-datepicker-header {
   margin-bottom: 10px;
}

/*  2307  */

.ui-datepicker-header {
   padding: 7.5px 15px;
}

/* из account-media/css изменить */

/* стр 724 */

.wrp_border_title {
   /* display:block; */
   /*  margin-bottom: 20px; */
}

/* изменить */

/* стр 3382   account.css */

.wrp_withdraw {
   grid-gap: 20px;
}

/* стр 3400 */

.wrp_content_menu>div:nth-child(1) {
   margin-right: 40px;
}


/* модальное окно "обзор bitcoin" */

li {
   list-style-type: none;
}

button {
   border: none;
}

.cr_item {
   cursor: pointer;
}

.review-bitcoin {
   padding: 0px 20px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100vw;
   height: 100vh;
   background-color: rgba(205, 224, 242, 0.7019607843);
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   overflow-y: auto;
   opacity: 0;
   pointer-events: none;
   -webkit-transition: opacity 0.3s;
   -o-transition: opacity 0.3s;
   transition: opacity 0.3s;
}

.review-bitcoin.review-bitcoin-visible {
   opacity: 1;
   pointer-events: all;
}

.review-bitcoin__body {
   padding: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.review-bitcoin__shell {
   position: relative;
   padding: 20px;
   max-height: 100vh;
   width: 815px;
   border-radius: 20px;
   color: #343434;
   background-color: #ffffff;
   overflow-y: auto;
   overflow-x: hidden;
}

.review-bitcoin__top {
   margin-bottom: 20px;
}

.review-bitcoin__top-title {
   margin-bottom: 21px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
}

.review-bitcoin__top-title-icon img {
   width: 40px;
}

.review-bitcoin__top-title-text {
   font-size: 24px;
   font-weight: 500;
}

.review-bitcoin__top-title-abr {
   font-size: 16px;
   font-weight: 400;
}

.review-bitcoin__top-text {
   text-align: center;
   color: #9FA8B1;
}

.review-bitcoin__date {
   margin-bottom: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.review-bitcoin__date span {
   padding: 3px 9px;
   font-weight: 500;
   background-color: #F5F8FB;
   border-radius: 5px;
}

.review-bitcoin__price {
   margin-bottom: 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: stretch;
   -ms-flex-align: stretch;
   align-items: stretch;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-column-gap: 20px;
   -moz-column-gap: 20px;
   column-gap: 20px;
}

.review-bitcoin__price-namber {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   font-size: 48px;
   font-weight: 500;
}

.review-bitcoin__price-difference {
   padding: 10px;
   margin: 8px 0px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 6px;
   -moz-column-gap: 6px;
   column-gap: 6px;
   border-radius: 5px;
}

.review-bitcoin__price-difference-namber {
   font-size: 16px;
   line-height: 120%;
   font-weight: 500;
   color: #ffffff;
}

.review-bitcoin__tabs {
   margin-bottom: 10px;
}

.review-bitcoin__tabs-body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
}

.review-bitcoin__tabs-item {
   padding: 10px;
   font-size: 14px;
   font-weight: 700;
   border: 1px solid #B5CDFB;
   border-radius: 5px;
}

.review-bitcoin__tabs-item:hover {
   background-color: #1843BF;
   color: #ffffff;
}

.review-bitcoin__schedule {
   position: relative;
   display: none;
}

.review-bitcoin__schedule.review-bitcoin__schedule-hidden {
   display: block;
}

.review-bitcoin__schedule-item {
   position: relative;
   margin-bottom: 10px;
   width: 100%;
   height: 295px;
   overflow: hidden;
}

.first-price-bitcoin {
   position: absolute;
   bottom: 39px;
   left: 10px;
   z-index: 10;
   display: inline-block;
   padding: 3px 9px;
   font-size: 16px;
   font-weight: 500;
   line-height: 115%;
   color: #343434;
   background-color: #D9E3EE;
   border-radius: 13px;
}

.max-price-bitcoin {
   position: absolute;
   top: 0px;
   right: 50px;
   z-index: 10;
   display: inline-block;
   padding: 3px 9px;
   font-size: 16px;
   font-weight: 500;
   line-height: 115%;
   color: #343434;
}

.review-bitcoin__subscribe {
   padding: 0px 20px;
}

.review-bitcoin__subscribe li {
   font-weight: 500;
   text-transform: uppercase;
   font-size: 13px;
   color: #9FA8B1;
}

.review-bitcoin__subscribe ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

/* классы для цвета цены */

.review-color-red {
   color: #FF3B2E;
}

.review-color-green {
   color: #33CC66;
}

.review-color-black {
   color: #343434;
}

/* классы для фона разницы цены */

.review-background-red {
   background-color: #FF3B2E;
}

.review-background-red svg {
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   transform: rotate(180deg);
}

.review-background-green {
   background-color: #33CC66;
}

.tradingview-widget-copyright {
   display: none;
}

.tv-widget-chart__copyrightingContainer {
   display: none !important;
}

/* ============ exchange =============== */

/* есть изменения в account-change.js */

/* удалить стили */

/*
 стр 2979   account-new.css
 
 .mob_block_white {
      overflow-x: hidden !important; 
    }
 
 стр 6371   account.css
  .withdraw_info>div:nth-child(1) {
   background: #E6EEF8;
   border-radius: 10px;
   padding: 12px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 } 
 
 */

/* 
 в dashboard-popup.js убрать 
 max-widtch   стр 181
 */

/* заменить */

/* стр 6380   account.css */

.withdraw_info>div {
   background: #E6EEF8;
   border-radius: 10px;
   padding: 12px 20px;
}

/* стр 2793   account.css */
.wrp_input {
   border-radius: 10px;
}


/* новые */

@font-face {
   font-family: Nekst;
   font-display: swap;
   src: url("../fonts/Nekst-Bold.woff2") format("woff2"), url("../fonts/Nekst-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}

.border_block-tabs .wrp_sell {
   padding: 20px;
}

.border_block.border_block-tabs {
   display: none;
   border: 1px solid #C6D6E6;
   border-radius: 10px;
}

.border_block.border_block-tabs .exchange-add {
   padding: 5px;
}

.border_block.border_block-tabs .exchange__btn-exchange {
   margin-top: 10px;
   margin-bottom: 10px;
}

.border_block.border_block-tabs .exchange__btn-exchange:not(.active):hover {
   background: #fff;
}

.oncard__spiner-body {

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.oncard__spiner {
   margin-left: 5px;
   margin-right: 5px;

}

/*  стр 987 account-new.css   можно удалить
 .exchange__btn-exchange:hover {
    background: #3399FF;
 } */

/* стр 2232  account-new.css  убрать padding */

.volatility__hint {
   /*  padding: 0px 0px 13px; */
}

/* стр 2242  account-new.css  */

.border_block.border_block-tabs .volatility__header .hint__img {
   top: 3px;
}

/* стр 3508  account.css  */

.currency_selected_balance {
   border-radius: 5px;
   background-color: #ffffff;
}

/* стр 3520  account.css  
 .currency_selected_balance:hover,
 .show .currency_selected_balance {
   background: #fff;
 }*/


.pb-10 {
   padding-bottom: 10px;
}

.wrp_input.exchange-wrp_input {
   padding-left: 0px;
   padding-right: 0px;
}

.exchange-tabs {
   position: relative;
   z-index: 100;
   margin-bottom: 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: stretch;
   -ms-flex-align: stretch;
   align-items: stretch;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   width: 100%;
   border-bottom: 4px solid #C6D6E6;
   font-family: "Nekst";
}

.exchange-tabs__item {
   display: block;
   -webkit-box-flex: 0;
   -ms-flex: 0 1 120px;
   flex: 0 1 120px;
   text-align: center;
}

.exchange-tabs__item.exchange-tabs__item-button-active button {
   color: #1843BF;
}

.exchange-tabs__item-button {
   padding-bottom: 6px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   min-height: 42px;
   width: 100%;
}

.exchange-not-active {
   position: relative;
}

.exchange-not-active button {
   color: #C6D6E6;
}

.exchange-not-active svg {
   position: absolute;
   top: -13px;
   right: 20px;
}

.oncard__time-rate {
   font-size: 12px;
   color: #1843BF;
   background-color: #ffffff;
   border: 1px solid #D9E3EE;
   border-radius: 3px;
   padding: 2px 3px;
}

.oncard__selected {
   position: relative;
   border-radius: 5px;
}

.oncard__selected-body {
   cursor: pointer;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   border-radius: 5px;
   background-color: #ffffff;
   padding: 5px;
   min-height: 75px;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

.oncard__selected-arrow svg {
   fill: #C6D6E6;
}

.oncard__selected-body:hover .oncard__selected-arrow {
   background-color: #F5F8FB;
}

.oncard__storage {
   padding: 10px 0px;
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 50;
   width: 100%;
   border: 1px solid #C6D6E6;
   border-radius: 5px;
   background-color: #ffffff;
   opacity: 0;
   pointer-events: none;
   -webkit-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;
}

.oncard__selected.oncard__storage-show .oncard__storage {
   opacity: 1;
   pointer-events: all;
}

.oncard__lists {
   max-height: 560px;
   overflow-y: auto;
}

.oncard__list {
   padding: 0px 20px;
}

.oncard__list-body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
   width: 100%;
   min-height: 60px;
}

.oncard__lists .oncard__list-body {
   border-bottom: 1px solid #C6D6E6;
}

.oncard__list:hover {
   background-color: #F5F8FB;
}

.oncard__lists-name {
   font-size: 20px;
   font-weight: 500;
}

.currency_block-no-rates__text {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding-left: 16px;
   min-height: 54px;
   font-weight: 700;
   background-color: #D9E3EE;
}

.oncard__rate-block {
   margin-bottom: 5px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
   font-size: 14px;

}

.oncard__list .oncard__list-icon img {
   max-width: 40px;
   height: 40px;
}

.oncard__rate-block>span {
   margin-bottom: 5px;
}

@media (max-width:450px) {
   .oncard__well span {
      display: block;
   }

   .oncard__rate-block {
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
   }
}

.oncard__max {
   font-size: 14px;
}

@media (max-width:600px) {
   .oncard__max {}
}

.oncard__rate.oncard__rate-right {
   display: inline-block;
   margin-left: auto;
}

.arrow_white {
   margin: 0px 10px;
}

.status-volatility .protected .protected-shell,
.status-volatility .not-protected a {
   padding: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
   font-size: 14px;
   border-radius: 5px;
}

.status-volatility .protected .protected-shell {
   background-color: #fff;
   border: 1px solid #C6D6E5;
}

.status-volatility .not-protected a {
   background-color: #D9E3EE;
}

.status-volatility .protected,
.status-volatility .not-protected {
   display: none;
}

.status-volatility .protected.status_checked,
.status-volatility .not-protected.status_checked {
   display: block;
}

.volatility__slider-percent {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
}

#volatility-percent {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   /*   background-color: #1843BF; */
   width: 112px;
}

#volatility-percent::-webkit-slider-runnable-track {
   background-color: #D9D9D9;
   height: 4px;
}

/* f */
#volatility-percent::-moz-range-track {
   background-color: #D9D9D9;
   height: 4px;
}


#volatility-percent::-webkit-slider-thumb {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   position: relative;
   top: -4.5px;
   background-color: #1843BF;
   width: 14px;
   height: 14px;
   border-radius: 50%;
}

/* f */
#volatility-percent::-moz-range-thumb {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   position: relative;
   top: -4.5px;
   background-color: #1843BF;
   border: none;
   width: 14px;
   height: 14px;
   border-radius: 50%;
}

.volatility-percent {
   display: inline-block;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;

}

.volatility-percent::before {
   content: "";
   position: absolute;
   top: calc(50% - 2px);
   left: 0px;
   height: 4px;
   width: var(--vpm-w);
   background-color: #1843BF;

}




.volatility-data-shell {
   padding-right: 5px;
   display: inline-block;
   line-height: 26px;
   height: 26px;
   width: 42px;
   text-align: end;
   border: 1px solid #C6D6E5;
   border-radius: 5px;
   color: #343434;
   font-size: 14px;
}




#volatility-data::-webkit-input-placeholder {
   color: #343434;
   text-align: end;
   margin-right: 3px;
}

#volatility-data::-moz-placeholder {
   color: #343434;
   text-align: end;
   margin-right: 3px;
}

#volatility-data:-ms-input-placeholder {
   color: #343434;
   text-align: end;
   margin-right: 3px;
}

#volatility-data::-ms-input-placeholder {
   color: #343434;
   text-align: end;
   margin-right: 3px;
}

#volatility-data::placeholder {
   color: #343434;
   text-align: end;
   margin-right: 3px;
}



/* стр 8145  account.css */

.hide_zero_balance label {
   padding: 10px 17px;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: start;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
}

/* стр 4919  account.css */

.hide_zero_balance .icon_checked {
   background-color: #ffffff;
   border: 1px solid #C6D6E6;
   border-radius: 2px;
}

/* стр 8153  account.css   заменить */

.hide_zero_balance label input:checked+.icon_checked {
   background-image: url('data:image/svg+xml;utf8,<svg width="17" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="0" y="0" width="17" height="17" rx="2" style=" fill:rgb(51, 153, 255)"/></svg>');
}

#content-menu.content_menu li {
   padding: 10px;
}

#content-menu.content_menu li a {
   -webkit-box-shadow: none;
   box-shadow: none;
}

#content-menu.content_menu li .flex {
   padding: 10px 10px 15px;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
}

.hover_effect_1 {
   position: relative;
   z-index: 0;
   overflow: hidden;
}

.hover_effect_1:hover .oncard__selected-arrow svg path {
   fill: #1843BF;
}

.hover_effect_1:before {
   --size: 0;
   content: "";
   position: absolute;
   z-index: -1;
   left: var(--x);
   top: var(--y);
   width: var(--size);
   height: var(--size);
   background: -o-radial-gradient(circle closest-side, #c9e1ff, transparent);
   background: radial-gradient(circle closest-side, #c9e1ff, transparent);
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: width 0.2s ease, height 0.2s ease;
   -o-transition: width 0.2s ease, height 0.2s ease;
   transition: width 0.2s ease, height 0.2s ease;
   pointer-events: none;
}

.hover_effect_1:hover:before {
   --size: 200px;
}

.currency_selected_balance_arrow {
   pointer-events: none;
}

.exchange-block__top {
   display: none;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
}

.exchange-block__top-status.color-blue {
   border-color: #1A75E2;
   background-color: #F0F8FF;
}

.exchange-block__top-status.color-green2 {
   border-color: #33CC66;
   background-color: #ECFFF9;
}

.exchange-paragraph-title {
   margin-bottom: 20px;
   font-size: 16px;
   font-weight: 500;
   text-align: center;
   text-transform: uppercase;
}

.exchange-paragraph {
   margin-bottom: 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: #9FA8B1;
}

.exchange-square {
   margin-right: 20px;
   width: 5px;
   height: 5px;
   background-color: #9FA8B1;
}

.exchange-paragraph-text {
   font-size: 14px;
}

.exchange-paragraph-text-black {
   color: #343434;
}

.exchange-paragraph-text-big {
   font-size: 18px;
   font-weight: 700;
   color: #343434;
   text-transform: uppercase;
}

.exchange-button-paid {
   width: 100%;
   height: 50px;
   background-color: #1843BF;
   border-radius: 10px;
   color: #ffffff;
}

.exchange-paragraph-link {
   color: #1843BF;
}

.date-create {
   padding: 17px 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   background-color: #F5F8FB;
   border-radius: 20px;
}

.exchange-our-address {
   color: #9FA8B1;
}

.exchange-address {
   white-space: nowrap;
}

.exchange-copy-text {
   padding: 10px 13px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   min-height: 45px;
   background-color: #ffffff;
   border-radius: 6px;
}

.exchange-add__tip-blue {
   padding-top: 20px;
   padding-bottom: 20px;
}

.exchange-application {
   padding: 20px;
   background-color: #F5F8FB;
   border-radius: 20px;
}

.exchange-application-title {
   margin-bottom: 20px;
   font-size: 32px;
   text-align: center;
   font-weight: 500;
}

.exchange-application-text {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: 500;
}

.exchange-application-text-select {
   color: #FF6600;
}

.copy_text {
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.withdraw_info_list-hidden {
   display: none;
}

.volatility__range {
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

/*стр 1002  account-new.css  заменить */

/* .wrp_withdraw {
    grid-template-columns: 1.32fr 1fr;
 } */

/*стр 507  account-new.css  заменить */

.exchange-add__btn {
   max-width: 163px;
   min-height: 35px;
}

/* temporary-button временные стили для кнопки, по готовности удалить */

.temporary-button {
   height: 50px;
   width: 100%;
   background-color: #9599a0;
   font-size: 20px;
   color: #ffffff;
   border-radius: 20px;
}

@media (min-width: 700px) {
   .exchange-tabs::before {
      content: "";
      position: absolute;
      height: 4px;
      width: var(--extab-w);
      bottom: -4px;
      left: var(--extab-l);
      z-index: 900;
      background-color: #1843BF;
      -webkit-transition: width 0.3s, left 0.3s;
      -o-transition: width 0.3s, left 0.3s;
      transition: width 0.3s, left 0.3s;
   }
}

@media (min-width: 766.98px) {
   .header__nav ul li._with-submenu .new-submenu {
      position: absolute;
      top: 65px;
      right: -190px;
      opacity: 0;
      pointer-events: none;
      -webkit-transform: translate(0px, -20px);
      -ms-transform: translate(0px, -20px);
      transform: translate(0px, -20px);
   }

   .header__nav ul li._with-submenu .new-submenu-lists {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: repeat(2, 1fr);
      width: 830px;
      -ms-grid-columns: 1fr 1fr;
   }
}

@media (max-width: 1600px) {
   #dep_info {
      width: 100%;
   }
}

@media (max-width: 1280px) {
   .exchange-tabs {
      margin-top: 30px;
   }
}

@media (max-width: 1255.98px) {
   .header__nav ul li._with-submenu .new-submenu {
      right: -40px;
   }

   .header__nav-fon-menu {
      right: -60px;
   }
}

@media (max-width: 1100px) {
   .agreement {
      padding-top: 20px;
   }

   .border_block-tabs .wrp_sell {
      padding: 10px;
   }

   .input_header {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }
}

@media (max-width: 835px) {
   .review-bitcoin__shell {
      width: 100%;
   }

   .review-bitcoin__body {
      width: 100%;
   }
}

@media (max-width: 766.98px) {
   .header__nav-fon-menu {
      display: none;
   }

   .header .header__nav ul ._with-submenu {
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
   }

   .header__nav {
      border-radius: 10px;
   }

   ._with-submenu_svg {
      display: none;
   }

   .header__nav ul li._with-submenu .new-submenu__link {
      padding: 10px 10px;
   }

   .mobile-header__inner .header__nav ul {
      padding: 10px 0px;
   }

   .echange-wide__items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
   }

   .exchange-address {
      font-size: 16px;
   }

   .date-create {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }

   .wrp_input {
      padding-right: 10px;
      padding-left: 10px;
   }
}

@media (max-width: 700px) {
   .currency__list {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: repeat(3, 1fr);
   }

   .exchange-tabs {
      margin-top: 20px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
   }

   .exchange-tabs {
      border: none;
   }

   .exchange-tabs__item-button {
      padding: 10px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .exchange-not-active .exchange-tabs__item-button::before {
      top: 0px;
      right: 20px;
   }

   .exchange-block__top {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }

   .exchange-access__flex {
      display: block;
   }

   .exchange-access__white-bg {
      margin-bottom: 10px;
   }

   .exchange-add__btn {
      padding-top: 3px;
      padding-bottom: 3px;
   }

   .exchange-address {
      white-space: wrap;
   }
}

@media (max-width: 580px) {
   .review-bitcoin__body {
      padding: 5px;
   }

   .review-bitcoin__shell {
      padding: 10px;
   }

   .review-bitcoin__top-title {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
   }

   .review-bitcoin__price-namber {
      font-size: 24px;
   }

   .review-bitcoin__price-difference-namber {
      font-size: 12px;
   }

   .review-bitcoin__price-difference {
      padding: 9px;
      margin: 0px;
   }

   .review-bitcoin__price {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }

   .review-bitcoin__tabs-body {
      -webkit-column-gap: 5px;
      -moz-column-gap: 5px;
      column-gap: 5px;
   }

   .review-bitcoin__tabs-item {
      padding: 7px;
      font-size: 14px;
   }

   .review-bitcoin__subscribe li {
      font-size: 10px;
   }

   .review-bitcoin__subscribe {
      padding: 0px 5px;
   }

   .max-price-bitcoin,
   .first-price-bitcoin {
      font-size: 12px;
   }
}

@media (max-width: 500px) {
   .exchange-tabs {
      display: block;
   }
}

@media (max-width: 478px) {
   .currency__list {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 450px) {
   .modal_title_button.modal_title_button-active {
      font-size: 18px;
   }
}

@media (max-width: 390px) {
   .review-bitcoin__tabs-item {
      padding: 5px;
      font-size: 12px;
   }

   .review-bitcoin__top-title-text {
      font-size: 18px;
   }

   .review-bitcoin__top-title-abr {
      font-size: 14px;
   }

   .review-bitcoin__top-title-icon img {
      width: 25px;
   }
}

@media (max-width: 991.98px) and (min-width: 766.98px) {
   .header__nav-fon-menu-in {
      width: 750px;
   }

   .header__nav ul li._with-submenu .new-submenu-lists {
      -webkit-column-gap: 10px;
      -moz-column-gap: 10px;
      column-gap: 10px;
      width: 710px;
   }
}

@media (min-width: 766.98px) and (max-width: 1100px) {
   .wrp_form.wrp_form-modifier {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0px;
   }

   .exchange__btn-exchange {
      padding: 0px;
      margin: 10px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      height: 100px;
      width: 40px;
   }

   .exchange__btn-exchange svg {
      width: 50px;
      height: 50px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
   }

   .exchange__btn-exchange svg {
      height: 20px;
   }

   .wrap_main .main {
      padding-left: 10px;
      padding-right: 10px;
   }

   .wrp_sell {
      padding: 10px;
   }

   .wrp_sell .wrp_input {
      padding: 10px;
      margin-bottom: 0px;
   }

   .wrp_sell .exchange-add__btn {
      padding: 0px 10px;
      font-size: 12px;
      max-width: 100px;
   }

   .wrp_sell .exchange-add__tip {
      font-size: 12px;
   }

   .wrp_sell .exchange-choose__item {
      font-size: 12px;
      height: 25px;
   }

   .currency_selected_balance .name {
      font-size: 16px;
   }

   .volatility {
      margin-top: 20px;
   }

   .echange-wide__items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
   }

   .wrp_form {
      min-height: auto;
   }
}

.webp .lang a:after {
   background: url(../img/header_change/svg/globe-earth.webp) no-repeat left center;
}


.currency_list_balance {
   pointer-events: none;
}

.show .currency_list_balance {
   pointer-events: all;
}




/* datepicker */
/* стр 2093   account.css  заменить */
.icon_calendar {
   cursor: pointer;
   width: 220px;
   height: 40px;
   padding-left: 44px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-position: 13px center, right 15px center;
   background-image: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.24996 14.5834H11.75C12.5012 14.5826 13.2214 14.2838 13.7526 13.7526C14.2837 13.2214 14.5825 12.5012 14.5833 11.75V4.66669C14.5825 3.91548 14.2837 3.19527 13.7526 2.66409C13.2214 2.13291 12.5012 1.83414 11.75 1.83335H11.0416V1.12502C11.0416 0.937159 10.967 0.756991 10.8342 0.624153C10.7013 0.491315 10.5212 0.416687 10.3333 0.416687C10.1454 0.416687 9.96526 0.491315 9.83243 0.624153C9.69959 0.756991 9.62496 0.937159 9.62496 1.12502V1.83335H5.37496V1.12502C5.37496 0.937159 5.30033 0.756991 5.16749 0.624153C5.03465 0.491315 4.85449 0.416687 4.66663 0.416687C4.47876 0.416687 4.2986 0.491315 4.16576 0.624153C4.03292 0.756991 3.95829 0.937159 3.95829 1.12502V1.83335H3.24996C2.49877 1.8342 1.77859 2.13298 1.24742 2.66415C0.716252 3.19532 0.41747 3.9155 0.416626 4.66669V11.75C0.41747 12.5012 0.716252 13.2214 1.24742 13.7526C1.77859 14.2837 2.49877 14.5825 3.24996 14.5834ZM1.83329 6.79169H13.1666V11.75C13.1662 12.1256 13.0168 12.4857 12.7512 12.7513C12.4856 13.0169 12.1256 13.1663 11.75 13.1667H3.24996C2.87435 13.1663 2.51423 13.0169 2.24864 12.7513C1.98304 12.4857 1.83367 12.1256 1.83329 11.75V6.79169Z" fill="rgba(159, 168, 177, 1)"/></svg>'), url('data:image/svg+xml;utf8,<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.49998 8C6.26699 8 6.03403 7.90396 5.8564 7.71229L0.266684 1.67776C-0.0888948 1.29388 -0.0888948 0.671503 0.266684 0.287787C0.62212 -0.095929 1.19852 -0.095929 1.55412 0.287787L6.49998 5.62748L11.4459 0.287973C11.8014 -0.0957425 12.3778 -0.0957425 12.7332 0.287973C13.0889 0.67169 13.0889 1.29407 12.7332 1.67794L7.14355 7.71248C6.96584 7.90418 6.73288 8 6.49998 8Z" fill="rgba(159, 168, 177, 1)"></path></svg>');
}

.balance_statistics_chart_info {
   z-index: 0;
}

.datepicker {
   position: relative;
}

[class^="dp-open"] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding-left: 35px;
   font-weight: 500;
   font-size: 12px;
   color: #9FA8B1;
}

[class^="dp-wrapper"] {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   min-height: 100vh;
   z-index: 500;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   display: none;
   overflow-y: auto;
}

[class^="dp-wrapper"].dp-open-active {
   display: block;
}

.dp-body {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   border: 1px solid #D9E3EE;
   border-radius: 10px;
   background-color: #ffffff;
   -webkit-transition: opacity 0.3s;
   -o-transition: opacity 0.3s;
   transition: opacity 0.3s;
   overflow: hidden;
}

.dp-block-left {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #E5EFF8;
}

.dp-month-button {
   padding: 8px 15px;
   width: 100%;
   font-size: 14px;
   font-weight: 500;
   color: #343434;
   cursor: pointer;
   background-color: transparent;
}

.dp-month-button:hover {
   color: #ffffff;
   background-color: #1843BF;
}

.dp-block-right {
   max-width: 276px;
}

.dp-header-top {
   padding: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-column-gap: 5px;
   -moz-column-gap: 5px;
   column-gap: 5px;
}

.dp-input-shell {

   max-width: 120px;
   border-radius: 6px;
   overflow: hidden;
}

.dp-input-start,
.dp-input-end {
   padding-left: 17px;
   height: 35px;
   min-width: 140px;
   font-size: 14px;
   font-weight: 500;
   color: #9FA8B1;
   background-color: #F5F8FB;
   border-radius: 6px;
   border: none;
   /*   text-align: center; */
}


.dp-input-hyphen {
   width: 7px;
   height: 2px;
   border-radius: 2px;
   background-color: #374957;
}

.dp-button-prev,
.dp-button-next {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 33px;
   height: 33px;
   background-color: transparent;
}

.dp-button-prev {}

.dp-header-bottom {
   margin-bottom: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.dp-year {
   font-size: 16px;
   font-weight: 700;
   text-align: center;
   color: #9FA8B1;
}

.dp-month {
   font-size: 16px;
   font-weight: 700;
   text-align: center;
   color: #9FA8B1;
}

.dp-block-date {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 5px;
   -moz-column-gap: 5px;
   column-gap: 5px;
}

.dp-week {
   padding: 0px 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.dp-day-week {
   padding: 0px 10px;
   font-size: 14px;
   font-weight: 500;
   color: rgba(0, 0, 0, 0.5);
}

.dp-day-week:nth-child(6),
.dp-day-week:nth-child(7) {
   color: #E36958;
}

.dp-shell {
   margin: 10px 15px;
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 5px;
   grid-row-gap: 10px;
   grid-column-gap: 0px;
}

.dp-cell {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 30px;
   max-width: 35px;
   font-size: 14px;
   color: #343434;
   cursor: pointer;
}

.dp-cell.dp-cell-marked {
   background-color: #1843BF;
   color: #fff;
   border-radius: 15px;
}

.dp-cell.dp-cell-start {
   background-color: #1843BF;
   border-radius: 15px 0px 0px 15px;
   color: #fff;
}

.dp-cell.dp-cell-end {
   background-color: #1843BF;
   border-radius: 0px 15px 15px 0px;
   color: #fff;
}

.dp-cell-selected {
   background-color: #E5EFF8;
}

.dp-now-date {
   background-color: #c1e2ff;
   border-radius: 10px;
}

.dp-cell-selected.dp-now-date {
   border-radius: 0px;
}

.dp-cell-next,
.dp-cell-prev {
   color: rgba(52, 52, 52, 0.4862745098);
}

.dp-footer {
   padding: 10px 15px;
   text-align: center;
   border-top: 1px solid #D9E3EE;
}

.dp-footer-button {
   text-align: center;
   width: 246px;
   height: 37px;
   font-size: 16px;
   font-weight: 500;
   color: #ffffff;
   background-color: #1843BF;
   border-radius: 10px;
}

/* нативные стили input type="date" */
.dp-input-start::-webkit-calendar-picker-indicator,
.dp-input-end::-webkit-calendar-picker-indicator {
   display: none;
}

@media (max-height: 400px) {
   .dp-body {
      top: 0%;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
   }
}

@media (max-width:400px) {
   .dp-month-button {
      padding: 8px 5px;
      width: 100%;
      font-size: 12px;

   }
}






/* обучение payments.html */

.education {
   position: relative;
}

.education__body {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.8);
   -webkit-mask-image:
      linear-gradient(90deg, rgba(0, 0, 0, 1) calc(var(--hole-sl) - 5px),
         rgba(0, 0, 0, 0) var(--hole-sl),
         rgba(0, 0, 0, 0) var(--hole-el),
         rgba(0, 0, 0, 1) calc(var(--hole-el) + 5px)),
      linear-gradient(rgba(0, 0, 0, 1) calc(var(--hole-st) - 5px),
         rgba(0, 0, 0, 0) var(--hole-st),
         rgba(0, 0, 0, 0) var(--hole-et),
         rgba(0, 0, 0, 1) calc(var(--hole-et) + 5px));
   mask-image:
      linear-gradient(90deg, rgba(0, 0, 0, 1) calc(var(--hole-sl) - 5px),
         rgba(0, 0, 0, 0) var(--hole-sl),
         rgba(0, 0, 0, 0) var(--hole-el),
         rgba(0, 0, 0, 1) calc(var(--hole-el) + 5px)),
      linear-gradient(rgba(0, 0, 0, 1) calc(var(--hole-st) - 5px),
         rgba(0, 0, 0, 0) var(--hole-st),
         rgba(0, 0, 0, 0) var(--hole-et),
         rgba(0, 0, 0, 1) calc(var(--hole-et) + 5px));
}

.education__back {
   position: absolute;
   top: 17px;
   right: 63px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 7px;
   -moz-column-gap: 7px;
   column-gap: 7px;
}

.education__back-text {
   font-size: 14px;
   font-weight: 500;
   color: #1843BF;
}



.education__card {
   padding: 16px;
   position: absolute;
   z-index: 200;
   max-width: 380px;
   width: calc(100% - 20px);
   background-color: #1A75E2;
   border-radius: 20px;
   color: #F8FBFF;
   font-size: 14px;
   display: none;
}

@media (max-width:400px) {
   .education__card {
      padding: 10px;
   }
}

.education__card-header {
   padding: 10px 0px;
   margin-bottom: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.education__card-header-link a {
   color: #F8FBFF;
}

.education__card-header-icon {
   margin-right: 10px;

}

.education__card-header-close .btn_close_modal {
   top: 21px;
   width: 30px;
   height: 30px;
   background-color: #ffffff;
}

.education__card-text {
   margin-bottom: 15px;
}


.education__card-buttons {
   margin-bottom: 20px;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;

}

.education__card-buttons-left,
.education__card-buttons-right {
   padding: 10px 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
   font-size: 14px;
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 10px;
   border: 1px solid transparent;
}

.education__card-buttons-left {}

.education__card-buttons-right {}

.education__card-buttons-text {
   color: #fff;
   transition: color 0.3s;

}

.education__card-buttons-left:hover,
.education__card-buttons-right:hover {
   border-color: #3464EC;
   background-color: #F8FBFF;
}

.education__card-buttons-left:hover .education__card-buttons-text,
.education__card-buttons-right:hover .education__card-buttons-text {
   color: #1843BF;
}

.education__card-buttons-left:hover svg path,
.education__card-buttons-right:hover svg path {
   fill: #1843BF;
}


.education__card-buttons-icon {}

.education__card-check-label input {
   display: none;
}

.education__card-check {
   padding-top: 15px;
   border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.education__card-check-label {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
   cursor: pointer;
}

.education__card-check-style {
   position: relative;
   width: 20px;
   height: 20px;
   border-radius: 2px;
   border: 1px solid #C6D6E5;
   background-color: rgba(255, 255, 255, 0.2);
}

.education__card-check-style::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width: 14px;
   height: 14px;
   border-radius: 2px;
   background-color: #ffffff;
   opacity: 0;
}

.education__card-check-label input:checked+.education__card-check-style::before {
   opacity: 1;
}

.education__card-triangle {
   position: absolute;
   top: -9px;
   left: 50px;
   width: 36px;
   height: 20px;
   border-bottom: 20px solid #1A75E2;
   border-left: 18px solid transparent;
   border-right: 18px solid transparent;
}


.hole {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 300px;
   height: 300px;
}

@media (max-width:766.98px) {

   .education__card,
   .education__card-buttons-left,
   .education__card-buttons-right {
      font-size: 10px;
   }
}


/* =========================== */
.exchange__conclusion {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 10px;
}

@media (max-width:1100px) {
   .exchange__conclusion {
      display: block;
   }


}

.exchange__conclusion div {
   flex: 1 0 30%;
}

.exchange__conclusion-block {
   position: relative;
   margin-bottom: 20px;
}


.exchange__conclusion-window {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 10px;
   cursor: pointer;
   border: 1px solid #c6d6e5f1;
   border-radius: 10px;
   background-color: #ffffff;
}

.exchange__conclusion-window-text {
   font-size: 14px;
   color: rgb(117, 117, 117);
   flex: 1 1 auto;
}


.exchange__conclusion-tab {
   position: absolute;
   top: 50px;
   left: 0px;
   z-index: 10;
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
   background-color: #ffffff;
   box-shadow: 0px 5px 30px rgba(155, 190, 222, 0.4);

   pointer-events: none;
   opacity: 0;
   transition: opacity 0.3s;

}

.exchange__conclusion-actie .exchange__conclusion-tab {
   pointer-events: all;
   opacity: 1;
}

.exchange__conclusion-actie .exchange__conclusion-window-arrow {
   transform: rotate(180deg);
}

.exchange__conclusion-search {
   padding: 8px;
   display: flex;
   align-items: center;
   column-gap: 8px;
   background-color: #F5F8FB;
}

.exchange__conclusion-search-input {
   flex: 1 1 auto
}

.exchange__conclusion-search-input-item {
   border: none;
   width: 100%;
   font-size: 12px;
   font-weight: 500;
   color: #9FA8B1;
}

.exchange__conclusion-search-input-item::placeholder {
   font-size: 12px;
   font-weight: 500;
   color: #9FA8B1;
}

.exchange__conclusion-search-input-item::-ms-clear,
.exchange__conclusion-search-input-item::-ms-reveal,
.exchange__conclusion-search-input-item::-webkit-search-decoration,
.exchange__conclusion-search-input-item::-webkit-search-cancel-button,
.exchange__conclusion-search-input-item::-webkit-search-results-button,
.exchange__conclusion-search-input-item::-webkit-search-results-decoration {
   display: none;
}


.exchange__conclusion-search-icon {}

.exchange__conclusion-search-clear {}

.exchange__conclusion-lists {
   max-height: 280px;
   overflow-y: auto;
}


.exchange__conclusion-lists::-webkit-scrollbar {
   width: 4px;
   height: 4px;
   border-radius: 2px;
}

.exchange__conclusion-lists::-webkit-scrollbar-track {
   background-color: #fff;
}

.exchange__conclusion-lists::-webkit-scrollbar-thumb {
   background-color: #000099;
   border-radius: 2px;
}

.exchange__conclusion-lists::-webkit-scrollbar-thumb:hover {
   background-color: #000099;
}

.exchange__conclusion-lists {
   scrollbar-width: thin;
   scrollbar-color: #000099 #fff;
}





.exchange__conclusion-item {
   padding: 0px 8px;
}

.exchange__conclusion-item button {
   padding: 10px 0px;

   color: #343434;
   font-size: 16px;
   font-weight: 700;
   color: #343434;
   width: 100%;
   text-align: start;
   border-bottom: 1px solid #D9E3EE;
}

.exchange__conclusion-item:last-child button {
   border: none;
}

.exchange__conclusion-item:hover {
   background-color: #F5F8FB;
}