@charset "UTF-8";

@font-face {
   font-family: Nekst;
   font-display: swap;
   src: url(../fonts/Nekst-Black.woff2) format("woff2"), url(../fonts/Nekst-Black.woff) format("woff");
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: Nekst;
   font-display: swap;
   src: url(../fonts/Nekst-Bold.woff2) format("woff2"), url(../fonts/Nekst-Bold.woff) format("woff");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: Ubuntu;
   font-display: swap;
   src: url(../fonts/Ubuntu-Light.woff2) format("woff2"), url(../fonts/Ubuntu-Light.woff) format("woff");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: Ubuntu;
   font-display: swap;
   src: url(../fonts/Ubuntu-Bold.woff2) format("woff2"), url(../fonts/Ubuntu-Bold.woff) format("woff");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: Ubuntu;
   font-display: swap;
   src: url(../fonts/Ubuntu-Medium.woff2) format("woff2"), url(../fonts/Ubuntu-Medium.woff) format("woff");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: Ubuntu;
   font-display: swap;
   src: url(../fonts/Ubuntu-Regular.woff2) format("woff2"), url(../fonts/Ubuntu-Regular.woff) format("woff");
   font-weight: 400;
   font-style: normal;
}


* {
   padding: 0;
   margin: 0;
   border: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

*,
:after,
:before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:active,
:focus {
   outline: 0;
   -webkit-tap-highlight-color: transparent;
}

a:active,
a:focus {
   outline: 0;
   -webkit-tap-highlight-color: transparent;
}

aside,
footer,
header,
nav {
   display: block;
}

body,
html {
   font-size: 100%;
   line-height: 1;
   font-size: 16px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
   background-color: transparent;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

[class$=__container] {
   max-width: 1210px;
   padding: 0 10px;
   margin: 0 auto;
}

input[type=number],
input[type=date] {
   -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0px;
}


body {
   font-family: Ubuntu;
   overflow-x: hidden;
   background-color: #f5f8fb;
}



/* =================================================*/
/*                    АНИМАЦИИ                      */
/* =================================================*/

._link-anim {
   position: relative;
   padding: 0 1px;
   display: inline-block;
   -webkit-transition: color ease 0.3s;
   -o-transition: color ease 0.3s;
   transition: color ease 0.3s;
   /*   color: #1843bf;
   text-decoration: none;
   line-height: 1.2; */
}

._link-anim::after {
   content: "";
   position: absolute;
   z-index: 0;
   width: 100%;
   height: 1px;
   left: 0;
   bottom: -3px;
   background-color: #cedef1;
   -webkit-transition: height ease 0.3s;
   -o-transition: height ease 0.3s;
   transition: height ease 0.3s;
   opacity: 0.4;
}

._link-anim:hover::after {
   height: calc(100% + 6px);
}


.btn1,
.btn3 {
   position: relative;
   z-index: 0;
   overflow: hidden;
   cursor: pointer;
}

.btn1::before,
.btn3::before {
   --size: 0;
   content: "";
   position: absolute;
   z-index: -1;
   left: var(--x);
   top: var(--y);
   width: var(--size);
   height: var(--size);
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: width 0.2s ease, height 0.2s ease;
   -o-transition: width 0.2s ease, height 0.2s ease;
   transition: width 0.2s ease, height 0.2s ease;

}

.btn1:hover::before,
.btn3:hover::before {
   --size: 400px;
}

.btn1::before {
   background: radial-gradient(circle closest-side, #3E68E3, transparent);
}

.btn3::before {
   background: radial-gradient(circle closest-side, rgba(24, 67, 191, 0.5), transparent);
}

a.btn3:hover {
   color: #fff;
}

.btn3:hover svg path {
   stroke: #ffffff;
}

.btn3 svg path {
   transition: stroke 0.3s;
}








/*=================================================*/
/* глобальные стили */
/* правила стилей "RULE" */
/*=================================================*/

[class$="__container"] {
   padding: 0px 20px;
   margin: 0 auto;
   max-width: 1480px;
   width: 100%;
}

[class$="__container-small"] {
   margin: 0 auto;
   max-width: 1280px;
   width: 100%;
}

[class$="__container-big"] {
   padding: 0px 20px;
   margin: 0 auto;
   max-width: 1800px;
   width: 100%;
}

@media (max-width:991.98px) {
   [class$="__container"] {
      padding: 0px 40px;
   }

   [class$="__container-big"] {
      padding: 0px 40px;
   }

}

@media (max-width:767.98px) {
   [class$="__container"] {
      padding: 0px 20px;
   }

   [class$="__container-big"] {
      padding: 0px 20px;
   }

}





/* стили скролла */
.scrollbar::-webkit-scrollbar {
   width: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
   background-color: #009;
}

/* нижний отступ блока */
.mb-section-rule {
   margin-bottom: 100px;
}

@media (max-width: 1440px) {
   .mb-section-rule {
      margin-bottom: 6.9vw;
   }
}

@media (max-width: 767.98px) {
   .mb-section-rule {
      margin-bottom: 50px;
   }
}

/* заголовок блока */
.title-rule {
   font-family: "Nekst";
   font-size: 40px;
   margin-bottom: 20px;
   color: #161616;
}

@media (max-width:991.98px) {
   .title-rule {
      font-size: 36px;
   }
}

@media (max-width:767.98px) {
   .title-rule {
      max-width: 100%;
      width: 100%;
      text-align: center;
      font-size: 24px;
   }
}

/* текст */
.text-rule {
   font-family: "Ubuntu";
   font-size: 16px;
   line-height: 150%;
   color: #565656;
}

@media (max-width:991.98px) {
   .text-rule {
      font-size: 14px;
   }
}

/* нижние отступы у блоков с текстом */
.mb-list-rule:not(:last-child) {
   margin-bottom: 20px;
}


/* блок с белым фоном */
.white-block {
   padding: 40px;
   background-color: #FFFFFF;
   border-radius: 20px;
}

@media (max-width:767.98px) {
   .white-block {
      padding: 20px;
   }
}

/* ссылка с стрелкой */
.link-style-rule {
   margin-bottom: 20px;
   width: 100%;
   font-size: 18px;
   font-weight: 700;
   line-height: 120%;
   color: #1843BF;
   text-align: center;
   white-space: nowrap;
}

.link-style-rule__arrow {
   position: relative;
   top: -3px;
   left: -3px;
}

/* оранжевая кнопка */
/* синяя кнопка */
.button-blue,
.button-orange {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 10px 40px;
   width: 100%;
   max-width: -webkit-max-content;
   max-width: -moz-max-content;
   max-width: max-content;
   min-height: 60px;
   border-radius: 10px;
   font-family: "Nekst";
   font-size: 16px;
   line-height: 18px;
   -webkit-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
}

.button-blue {
   color: #ffffff;
   background-color: #1843BF;
}

.button-orange {
   color: #FFFFFF;
   background-color: #FF6600;
}

.button-blue__icon,
.button-orange__icon {
   margin-left: 10px;
   height: 28px;
}

/* кнопка с пунктирной рамкой */
.btn-dashed {
   position: relative;
   z-index: 0;
   overflow: hidden;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 10px 40px;
   min-height: 40px;
   border: none;
   border-radius: 10px;
   font-family: Nekst;
   font-size: 16px;
   color: #1843BF;
   font-family: Nekst;
   background: rgba(255, 255, 255, 0.10) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><rect opacity="0.5" x="0.5" y="0.5" width="100%" height="100%" style="width:calc(100% - 1px);height:calc(100% - 1px);" rx="9.5" stroke="rgba(198, 214, 229, 1)" stroke-width="1" stroke-linejoin="round" stroke-dasharray="10 10" fill="none"/></svg>') no-repeat left top / 100% 100%;
}

.btn-dashed:before {
   --size: 0;
   content: "";
   position: absolute;
   z-index: -1;
   left: var(--x);
   top: var(--y);
   width: var(--size);
   height: var(--size);
   background: radial-gradient(circle closest-side, #1843BF, transparent);
   transform: translate(-50%, -50%);
   transition: width 0.2s ease, height 0.2s ease;
}

.btn-dashed:hover:before {
   --size: 400px;
}

.btn-dashed:hover {
   color: #fff;
}











/* ================== */
/* modal windows */
/* ================== */

.btn_close_modal {
   position: absolute;
   top: 15px;
   right: 15px;
   width: 35px;
   height: 35px;
   background: #F5F8FB;
   border-radius: 5px;
   border: none;
   overflow: hidden;
}

.btn_close_modal:after {
   content: '';
   position: absolute;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(../svg/btn_close_modal.svg) no-repeat center;
}

.btn_close_modal:before,
.close_alert_notif:before {
   --size: 0;
   content: "";
   position: absolute;
   z-index: 1;
   left: var(--x);
   top: var(--y);
   width: var(--size);
   height: var(--size);
   background: radial-gradient(circle closest-side, #cecece, transparent);
   transform: translate(-50%, -50%);
   transition: width 0.2s ease, height 0.2s ease;
}

.btn_close_modal:hover:before,
.close_alert_notif:hover:before {
   --size: 60px;
}





/* ================================== */
/* abaut-main */
/* ================================== */


.abaut-main {
   width: 100%;
}

.abaut-main__background {
   background: #1843BF;
   box-shadow: 0px 1.85185px 3.14815px 0px rgba(2, 85, 255, 0.02), 0px 8.14815px 6.51852px 0px rgba(2, 85, 255, 0.03), 0px 20px 13px 0px rgba(2, 85, 255, 0.04), 0px 38.51852px 25.48148px 0px rgba(2, 85, 255, 0.04);
   border-radius: 40px;
}

.abaut-main__body {
   padding: 40px 0px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.abaut-main__img {
   width: 100%;
   max-width: 600px;
}


.abaut-main__img img {
   width: 100%;
   height: 540px;
   object-fit: cover;
   border: 3px solid #1843BF;
   border-radius: 50px;
}

.abaut-main__content {
   width: 100%;
   max-width: 624px;
   margin-left: 60px;
}

.abaut-main__content-title {
   margin-bottom: 20px;
   font-family: "Nekst";
   font-size: 48px;
   line-height: 115%;
   color: #FFFFFF;
}

.abaut-main__content-list {
   margin-bottom: 40px;
}

.abaut-main__content-text {
   color: #FFFFFF;
}

@media (max-width:1279.98px) {
   .abaut-main__content {
      margin-left: 20px;
   }

   .abaut-main__content-title {
      font-size: 36px;
   }
}

@media (max-width:991.98px) {
   .abaut-main__body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .abaut-main__img {
      max-width: 100%;
   }

   .abaut-main__content {
      margin-left: 0px;
      max-width: 100%;
   }
}

@media (max-width:767.98px) {
   .abaut-main__content-button {
      max-width: 100%;
   }
}




/* ================================== */
/* block-1 */
/* ================================== */

.block-1__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   gap: 20px;
}

.block-1__image {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 58%;
   flex: 0 0 58%;
}

.block-1__image svg {
   width: 100%;
}

.block-1__image img {
   width: 100%;
}

.block-1__content {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}

.block-1__shell {
   margin-bottom: 40px;
}

.block-1__title {}

.block-1__text {}

.block-1__button.button-orange {}

@media (max-width:991.98px) {
   .block-1__body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .block-1__image {
      width: 100%;
      order: 2;
   }

   .block-1__content {
      order: 1;
   }

   .block-1__image img {
      margin-right: -5%;
      width: calc(105%);
   }

   .block-1__button.button-orange {
      margin: 0 auto;

   }
}

@media (max-width:767.98px) {
   .block-1__button.button-orange {
      min-width: 100%;
   }
}





/* ================================== */
/* annotatio */
/* ================================== */
.annotatio {}

.annotatio__body {
   margin-left: auto;
   margin-right: auto;
}

.annotatio__title {
   margin-right: auto;
   margin-left: auto;
   max-width: 670px;
   text-align: center;
}


.annotatio__annotatio {
   margin-bottom: 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 20px;
   -moz-column-gap: 20px;
   column-gap: 20px;
}



.annotatio__annotatio-item {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 10%;
   flex: 1 1 10%;
}

@media (min-width:767.98px) {
   .annotatio__annotatio-item.mb-list-rule {
      margin-bottom: 0px;
   }
}

.annotatio__content {
   height: 0px;
   overflow: hidden;
   -webkit-transition: height 0.5s;
   -o-transition: height 0.5s;
   transition: height 0.5s;
}

.annotatio__button .button-blue {
   margin: 0 auto;
}

@media (max-width:767.98px) {
   .annotatio__button .button-blue {
      max-width: 100%;
   }

   .annotatio__annotatio {
      display: block;
   }

}





/* ================================== */
/* grid-block */
/* ================================== */
.grid-block {}

.grid-block__body {
   margin-bottom: 40px;
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   gap: 4px;
}



.grid-block__element {
   padding: 40px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border-radius: 20px;
   background-color: #ffffff;
}

@media (max-width:767.98px) {
   .grid-block__body {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
   }

   .grid-block__element {
      padding: 40px 20px;
   }
}

.grid-block__item-img {
   margin-bottom: 20px;
   -webkit-box-flex: 0;
   -ms-flex: 0 0 100px;
   flex: 0 0 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 100px;
   -webkit-box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0 20px 13px rgba(0, 0, 0, 0.035), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815),
      0 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
   box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0 20px 13px rgba(0, 0, 0, 0.035), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815),
      0 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
   border-radius: 50%;
   background: #fff;
   overflow: hidden;
}

.grid-block__title {
   margin-bottom: 20px;
   text-align: center;
   color: #161616;
   font-size: 24px;
   font-weight: 700;
}

.grid-block__text {
   margin-bottom: 20px;
   color: #565656;
   text-align: center;
   font-family: Ubuntu;
   font-size: 16px;
   line-height: 150%;
}

@media (max-width:991.98px) {
   .grid-block__title {
      font-size: 20px;
   }

   .grid-block__text {
      font-size: 14px;
   }
}

.grid-block__link {
   margin-bottom: 20px;
   text-align: center;
   width: max-content;
   white-space: nowrap;
}

.grid-block__link.link-style-rule {
   margin: 0 auto;

}

.grid-block__link-arrow {
   position: relative;
   top: -3px;
   left: -3px;
}

.grid-block__link-text {
   max-width: 80%;
   white-space: wrap;
}

.grid-block .button-orange {
   margin: 0 auto;
}



/* ================================== */
/* do-business */
/* ================================== */
.do-business {}

.do-business__body {
   position: relative;
   padding: 30px 10px;
   border-radius: 20px;
   background-color: #1843BF;
}

.do-business__body.page-crypto {
   padding: 75px;
}

.do-business__image-center.page-crypto {
   margin: 0px -20px 0px;
}

.do-business__body.page-crypto .do-business__wrapper {
   margin-bottom: 50px;
}

.do-business__wrapper {
   margin: 0 auto;
   max-width: 1050px;
   text-align: center;
}

.do-business__title {
   font-family: Nekst;
   margin: 0 auto 20px;
   max-width: 780px;
   font-size: 40px;
   line-height: 120%;
   font-weight: 700;
   text-align: center;
   color: #ffffff;
}


.do-business__subtitle {
   margin: 0 auto 22px;
   padding: 0px 10px;
   max-width: 700px;
   font-size: 14px;
   text-align: center;
   line-height: 150%;
   color: #C0D6FF;
}

.do-business__wrapper .do-business__subtitle {
   margin-bottom: 0px;
}

.do-business__wrapper .do-business__subtitle,
.do-business__wrapper .do-business__title {
   max-width: 100%;
   width: 100%;
}

.do-business__valutar {
   margin-bottom: 10px;
   color: #FEB46D;
   font-family: Ubuntu;
   font-size: 20px;
   line-height: 150.4%;
}

.do-business__block {
   margin: 0 auto;
   padding: 40px 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   max-width: 1030px;
}

.do-business__block.page-crypto {
   max-width: 1250px;
}

.do-business__image-left {
   margin-right: -10px;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}

.do-business__image-center {
   position: relative;
   z-index: 1;
   -webkit-box-flex: 0;
   -ms-flex: 0 0 20%;
   flex: 0 0 20%;
}

.do-business__image-center.page-crypto {
   -ms-flex: 0 0 43%;
   flex: 0 0 43%;
}

.do-business__image-center img {
   width: 100%;
}

.do-business__image-right {
   margin-left: -10px;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}

.do-business-frame {
   position: absolute;
   top: 0;
   right: 0;
}

[class*=circle_] {
   position: absolute;
   top: 0%;
   left: 0%;
   z-index: 5;
   -webkit-transform: translate(-16px, -16px);
   -ms-transform: translate(-16px, -16px);
   transform: translate(-16px, -16px);
}

.circle_1 {
   offset-path: path("M133,38.4l111,0.3c12.4-0.5,29.4,9.3,37.8,17.3c0,0,68.9,111.6,70.1,111.1c12.3,14.3,16,15.9,45.6,16.2l23.8-0.1");
   -webkit-animation: move_circle 2s linear infinite 0.5s;
   animation: move_circle 2s linear infinite 0.5s;
}

.circle_2 {
   offset-path: path("M97.6,109l134.8-0.2c16.6,1.4,30.6,4.4,41.4,9.5l48,30c8,3.8,17.2,4.9,28.8,5.2H416");
   -webkit-animation: move_circle 2s linear infinite 0.8s;
   animation: move_circle 2s linear infinite 0.8s;
}

.circle_3 {
   offset-path: path("M71,183L420,183");
   -webkit-animation: move_circle 1.7s linear infinite 0.4s;
   animation: move_circle 1.7s linear infinite 0.4s;
}

.circle_4 {
   offset-path: path("M102,253.6l140.4,1.2c12.3-1.3,23.1-4.1,31.8-9.1l49-30.8c4.5-2.5,13.3-3.7,21.4-4l71.4-0.6");
   -webkit-animation: move_circle 2s linear infinite;
   animation: move_circle 2s linear infinite;
}

.circle_5 {
   offset-path: path("M136.6,326.6L246,327c12.2,0,29.6-8.1,35.1-15.2l69.4-110c7.4-10.7,16.7-16,37.3-16.9l33-0.2");
   -webkit-animation: move_circle 1.5s linear infinite;
   animation: move_circle 1.5s linear infinite;
}

.circle_6 {
   offset-path: path("M292.2,58.7l-116.7,0.7c-18.1,0.4-32.4,8-43.3,22.1L69.9,170c-8.5,9.8-19.6,17.6-32.9,19H0");
   -webkit-animation: move_circle-2 2s linear infinite 1.5s;
   animation: move_circle-2 2s linear infinite 1.5s;
}

.circle_7 {
   offset-path: path("M369,138.5H182.7c-17.4,1-33.5,7.1-48.5,17.3L110.3,175c-11.1,8.1-25.1,13.3-37.5,14.4L0,190");
   -webkit-animation: move_circle-2 1.5s linear infinite 1.8s;
   animation: move_circle-2 1.5s linear infinite 1.8s;
}

.circle_8 {
   offset-path: path("M300,222L0,222");
   -webkit-animation: move_circle-2 2.1s linear infinite 1.7s;
   animation: move_circle-2 2.1s linear infinite 1.7s;
}

.circle_9 {
   offset-path: path("M364.1,303.3H191.5c-20.5-0.6-33.3-3-46.7-9.8L100,261.8c-6.7-4.6-14.5-7.3-23.1-8.3L0,254");
   -webkit-animation: move_circle-2 1.7s linear infinite 1s;
   animation: move_circle-2 1.7s linear infinite 1s;
}

.circle_10 {
   offset-path: path("M289,384l-106.9,0.4c-20.5-0.2-36.6-9.3-50.4-23l-57.8-81.2c-9.5-14.5-23.2-26.2-33.4-27.4L0,253.2");
   -webkit-animation: move_circle-2 2.5s linear infinite 1.2s;
   animation: move_circle-2 2.5s linear infinite 1.2s;
}

@-webkit-keyframes move_circle {
   100% {
      offset-distance: 100%;
   }
}

@keyframes move_circle {
   100% {
      offset-distance: 100%;
   }
}

@-webkit-keyframes move_circle-2 {
   0% {
      offset-distance: 100%;
   }

   100% {
      offset-distance: 0%;
   }
}

@keyframes move_circle-2 {
   0% {
      offset-distance: 100%;
   }

   100% {
      offset-distance: 0%;
   }
}

@media (max-width:991.98px) {

   .do-business__title {
      font-size: 30px;
   }
}

@media (max-width: 766.98px) {
   .do-business__block {
      padding: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .do-business__title {
      font-size: 24px;
   }

   .do-business__valutar {
      font-size: 16px;
   }

   .do-business__subtitle {
      font-size: 16px;
   }


   .do-business__image-left {
      margin-right: 0px;
      min-width: 55%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
   }

   .do-business__image-center {
      min-width: 50%;
   }

   .do-business__image-right {
      margin-left: 0px;
      margin-top: -10px;
      min-width: 55%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
   }

   .rotate_item-1 {
      -webkit-transform: rotate(-90deg) translate(-39%, 23%);
      -ms-transform: rotate(-90deg) translate(-39%, 23%);
      transform: rotate(-90deg) translate(-39%, 23%);
   }

   .rotate_item-2 {
      -webkit-transform: rotate(-90deg) translate(-46%, -7.5%);
      -ms-transform: rotate(-90deg) translate(-46%, -7.5%);
      transform: rotate(-90deg) translate(-46%, -7.5%);
   }

   .rotate_item-3 {
      -webkit-transform: rotate(-90deg) translate(-65%, 14.7%);
      -ms-transform: rotate(-90deg) translate(-65%, 14.7%);
      transform: rotate(-90deg) translate(-65%, 14.7%);
   }

   .rotate_item-4 {
      -webkit-transform: rotate(-90deg) translate(-91.5%, 6.5%);
      -ms-transform: rotate(-90deg) translate(-91.5%, 6.5%);
      transform: rotate(-90deg) translate(-91.5%, 6.5%);
   }

   .rotate_item-5 {
      -webkit-transform: rotate(-90deg) translate(-71.8%, -16%);
      -ms-transform: rotate(-90deg) translate(-71.8%, -16%);
      transform: rotate(-90deg) translate(-71.8%, -16%);
   }

   .rotate_item-6 {
      -webkit-transform: rotate(-90deg) translate(-52.3%, -39%);
      -ms-transform: rotate(-90deg) translate(-52.3%, -39%);
      transform: rotate(-90deg) translate(-52.3%, -39%);
   }

   .rotate_item-7 {
      -webkit-transform: rotate(-90deg) translate(-79.5%, -46%);
      -ms-transform: rotate(-90deg) translate(-79.5%, -46%);
      transform: rotate(-90deg) translate(-79.5%, -46%);
   }

   .rotate_item-8 {
      -webkit-transform: rotate(-90deg) translate(-98.2%, -24.2%);
      -ms-transform: rotate(-90deg) translate(-98.2%, -24.2%);
      transform: rotate(-90deg) translate(-98.2%, -24.2%);
   }

   .rotate_item-9 {
      -webkit-transform: rotate(-90deg) translate(-105.5%, -55%);
      -ms-transform: rotate(-90deg) translate(-105.5%, -55%);
      transform: rotate(-90deg) translate(-105.5%, -55%);
   }

   .rotate_img-1 {
      -webkit-transform: rotate(-90deg) translate(-87.2%, 60.8%);
      -ms-transform: rotate(-90deg) translate(-87.2%, 60.8%);
      transform: rotate(-90deg) translate(-87.2%, 60.8%);
   }

   .rotate_img-2 {
      -webkit-transform: rotate(-90deg) translate(-121.8%, 60.5%);
      -ms-transform: rotate(-90deg) translate(-121.8%, 60.5%);
      transform: rotate(-90deg) translate(-121.8%, 60.5%);
   }

   .rotate_img-3 {
      -webkit-transform: rotate(-90deg) translate(-125.1%, 22.2%);
      -ms-transform: rotate(-90deg) translate(-125.1%, 22.2%);
      transform: rotate(-90deg) translate(-125.1%, 22.2%);
   }

   .rotate_img-4 {
      -webkit-transform: rotate(-90deg) translate(-161%, 20.8%);
      -ms-transform: rotate(-90deg) translate(-161%, 20.8%);
      transform: rotate(-90deg) translate(-161%, 20.8%);
   }

   .rotate_img-5 {
      -webkit-transform: rotate(-90deg) translate(-162.7%, -16%);
      -ms-transform: rotate(-90deg) translate(-162.7%, -16%);
      transform: rotate(-90deg) translate(-162.7%, -16%);
   }

   .namber-1 {
      -webkit-transform: rotate(-90deg) translate(-87.2%, 82.8%);
      -ms-transform: rotate(-90deg) translate(-87.2%, 82.8%);
      transform: rotate(-90deg) translate(-87.2%, 82.8%);
   }

   .namber-2 {
      -webkit-transform: rotate(-90deg) translate(-121.8%, 80.5%);
      -ms-transform: rotate(-90deg) translate(-121.8%, 80.5%);
      transform: rotate(-90deg) translate(-121.8%, 80.5%);
   }

   .namber-3 {
      -webkit-transform: rotate(-90deg) translate(-125.1%, 44.2%);
      -ms-transform: rotate(-90deg) translate(-125.1%, 44.2%);
      transform: rotate(-90deg) translate(-125.1%, 44.2%);
   }

   .namber-4 {
      -webkit-transform: rotate(-90deg) translate(-161%, 40.8%);
      -ms-transform: rotate(-90deg) translate(-161%, 40.8%);
      transform: rotate(-90deg) translate(-161%, 40.8%);
   }

   .namber-5 {
      -webkit-transform: rotate(-90deg) translate(-162.7%, 6%);
      -ms-transform: rotate(-90deg) translate(-162.7%, 6%);
      transform: rotate(-90deg) translate(-162.7%, 6%);
   }

   .do-business__body.page-crypto {
      padding: 20px 10px;
   }

   .do-business__image-center.page-crypto {
      margin: -10px 0px -17px;
   }
}

@media (max-width: 500px) {

   .do-business__subtitle {
      font-size: 12px;
   }
}




/* ========================= */
/* infoblocks */
/* ========================= */

.infoblocks {}

.infoblocks_container {}


.infoblocks__item {
   margin-bottom: 100px;
   padding-bottom: 100px;
   position: sticky;
   top: 20px;
   z-index: 1;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 60px;
   -moz-column-gap: 60px;
   column-gap: 60px;
   width: 100%;
   border-bottom: 1px solid #CEDEF1;
   background-color: #f5f8fb;
}

.infoblocks__item:nth-child(3) {
   z-index: 2;
}

.infoblocks__item:nth-child(4) {
   z-index: 3;
}

.infoblocks__item_text {
   width: 100%;
   max-width: 537px;
}

.infoblocks__item-title {
   margin-bottom: 20px;
   max-width: 380px;
}

.infoblocks__item-title.title-rule {
   max-width: 100%
}

.infoblocks__item-text {
   color: #565656;
}

.infoblocks__img {
   flex: 0 0 40%;
   width: 100%;
   max-width: 630px;
}

.infoblocks__img img {
   width: 100%;
}

@media (max-width:1279.98px) {
   .infoblocks__item {
      -webkit-column-gap: 40px;
      -moz-column-gap: 40px;
   }
}

@media (max-width:767.98px) {
   .infoblocks__img {
      order: 1;
   }

   .infoblocks__item-content {
      order: 2;
   }

   .infoblocks__item {
      margin-bottom: 30px;
      padding-bottom: 30px;
      flex-direction: column;
   }
}




/* ============================ */
/* payment-process */
/* ============================ */
.payment-process__body {}

.payment-process__title {
   text-align: center;
}

.payment-process__text {}

.payment-process__image {
   margin-top: 20px;
   margin-bottom: 20px;
}

.payment-process__image-small {
   display: none;
   font-size: 18px;
   max-height: 90vh;
}

.payment-process__border {
   padding: 33px 50px;
   margin: 0 auto;
   max-width: 1130px;
   border-radius: 20px;
   border: 1px solid #C6D6E5;
}

.payment-process__progress {
   margin-bottom: 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.payment-process__shell {
   position: relative;
}

.payment-process__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: stretch;
   -ms-flex-align: stretch;
   align-items: stretch;
}


.payment-process__img {
   position: relative;
   -webkit-box-flex: 0;
   -ms-flex: 0 0 40px;
   flex: 0 0 40px;
   padding: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.payment-process__img img {
   position: relative;
   z-index: 5;
   width: 20px;
   height: 20px;
}

.payment-process__backgroung-end,
.payment-process__backgroung-start {
   position: absolute;
   left: 0;
   width: 40px;
   height: 50%;
   background-color: #FFFFFF;
}

.payment-process__backgroung-end {
   bottom: 0px;
}

.payment-process__backgroung-start {
   top: 0px;
}

.payment-process__line {
   position: absolute;
   top: 50%;
   left: 19px;
   -webkit-transform: translate(0%, -50%);
   -ms-transform: translate(0%, -50%);
   transform: translate(0%, -50%);
   width: 2px;
   min-height: 100%;
   background-color: transparent;
}

.payment-process__line img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.payment-process__link {
   text-align: center;
}

.payment-process__link-item {}



.payment-process__item-text {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 5px 10px;
   color: #1A75E2;
   line-height: 150%;
   border-radius: 4px;
   border: 1px solid #D9E3EE;
}

.payment-process__item:not(:last-child) {
   margin-bottom: 10px;
}

@media (max-width:767.98px) {

   .payment-process__image-big {
      display: none;
      width: 100%;
   }

   .payment-process__image-small {
      display: block;
      width: 100%;
   }

   .payment-process__img {
      padding: 0px;
   }

   .payment-process__line {
      left: 19px;
   }

   .payment-process__link {
      padding-bottom: 20px;
   }
}

.annotatio__button-shell {
   text-align: center;
}




.blue-button__shell {
   margin-top: 40px;
   text-align: center;
}

.blue-button__item {
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: -webkit-max-content;
   width: -moz-max-content;
   width: max-content;
   min-height: 60px;
   padding: 10px 40px;
   border-radius: 10px;
   background: #1843BF;
   color: #ffffff;
}



/* ====================================== */
/* wallet-support */
/* ====================================== */

.wallet-support__inner .canvasjs {
   display: none;
}

.wallet-support__inner canvas {
   position: absolute;
   left: 0;
   top: 0;
   width: 100% !important;
   height: 100% !important;
}



.wallet-support__inner {
   padding-bottom: 40px;
   padding-top: 60px;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   background: #1843bf;
   background: -o-radial-gradient(circle, #1843bf 39%, #345fdc 100%);
   background: radial-gradient(circle, #1843bf 39%, #345fdc 100%);
   overflow: hidden;
   border-radius: 20px;

}

.wallet-support__shell {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
   align-items: center;
}


.wallet-support__title {
   margin-right: auto;
   margin-left: auto;
   padding: 0px 20px;
   text-align: center;
   max-width: 980px;
   width: 100%;
   color: #ffffff;
}


.wallet-support__text {
   margin: 0 auto;
   text-align: center;
   max-width: 980px;
   color: #F5F8FB;
}


.wallet-support__cont {
   padding: 0 40px;
   overflow: hidden;
}

.wallet-support__swiper {
   overflow: visible;
}

.wallet-support__item {
   width: 194px;
}

.wallet-support__item img {
   width: 100%;
}

.wallet-support__block {
   padding: 0px 20px 40px;
}

@media (max-width:1480px) {
   .wallet-support__item {
      width: calc((194 / 14.8) * 1vw);
   }
}

@media (max-width:991.98px) {
   .wallet-support__item {
      width: 124px;
   }
}

@media (max-width:991.98px) {
   .wallet-support__item {
      width: 80px;
   }
}


/* ================================== */
/* application */
/* ================================== */

.application__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.application__img {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 51.51%;
   flex: 0 0 51.51%;
}

.application__img svg {
   width: 100%;
   overflow: visible;
   -webkit-box-shadow: 0 0 10000px transparent;
   box-shadow: 0 0 10000px transparent;
}

.application__cont {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 45.45%;
   flex: 0 0 45.45%;
}

.application__info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 20px;
}


.application__download ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 15px;
}

.application__download ul li a {
   max-width: 144px;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.application__info {
   margin-bottom: 40px;
}


@media (max-width:991.98px) {
   .application__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .application__img {
      order: 2;
      width: 100%;
   }

   .application__cont {
      order: 1;
   }
}





/* =================================== */
/* media about us */
/* =================================== */

/*   media about us  */
.about-media {
   color: #000000;
}

.about-media__title {
   font-family: Nekst;
   font-size: 40px;
   font-weight: 700;
   text-align: center;
   margin-bottom: 40px;
}

.about-media__body {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 5px;
   justify-content: space-between;
   margin-bottom: 40px;
}

@media (max-width:991.98px) {
   .about-media__body {
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width:767.98px) {
   .about-media__body {
      grid-template-columns: 1fr;
   }
}

.about-media__block {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: stretch;
   -ms-flex-align: stretch;
   align-items: stretch;
   -webkit-transition: box-shadow 0.5s ease 0s;
   -moz-transition: box-shadow 0.5s ease 0s;
   transition: box-shadow 0.5s ease 0s;
}

.about-media__block a {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: stretch;
   -ms-flex-align: stretch;
   align-items: stretch;
   width: 100%;
}

.about-media__block:hover {
   position: relative;
   z-index: 5;
   border-radius: 18px;
   -webkit-box-shadow: 0px 207px 83px rgba(174, 194, 213, 0.02), 0px 117px 70px rgba(174, 194, 213, 0.06), 0px 52px 52px rgba(174, 194, 213, 0.1), 0px 13px 29px rgba(174, 194, 213, 0.11), 0px 0px 0px rgba(174, 194, 213, 0.11);
   box-shadow: 0px 207px 83px rgba(174, 194, 213, 0.02), 0px 117px 70px rgba(174, 194, 213, 0.06), 0px 52px 52px rgba(174, 194, 213, 0.1), 0px 13px 29px rgba(174, 194, 213, 0.11), 0px 0px 0px rgba(174, 194, 213, 0.11);
}

.about-media__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   padding: 35px;
   width: 100%;
   min-height: 350px;
   background-color: #ffffff;
   border-radius: 18px;
   text-align: center;
}

.about-media__image {
   position: relative;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 1px solid #CEDEF1;
   -webkit-transition: all 0.5s ease 0s;
   -moz-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
}

.about-media__image img {
   position: absolute;
   top: 50%;
   left: 50%;
   max-width: 80%;
   transform: translate(-50%, -50%);
}

.about-media__block:hover .about-media__image {
   border-color: transparent;
   border-radius: 50%;
   -webkit-box-shadow: 0px 207px 83px rgba(174, 194, 213, 0.02), 0px 117px 70px rgba(174, 194, 213, 0.06), 0px 52px 52px rgba(174, 194, 213, 0.1), 0px 13px 29px rgba(174, 194, 213, 0.11), 0px 0px 0px rgba(174, 194, 213, 0.11);
   box-shadow: 0px 207px 83px rgba(174, 194, 213, 0.02), 0px 117px 70px rgba(174, 194, 213, 0.06), 0px 52px 52px rgba(174, 194, 213, 0.1), 0px 13px 29px rgba(174, 194, 213, 0.11), 0px 0px 0px rgba(174, 194, 213, 0.11);
}

.about-media__text {
   flex: 1 1 auto;
   font-weight: 700;
   margin: 20px 0px 30px;
   line-height: 130%;
   font-family: "Nekst";
   font-size: 24px;
   color: #000000;
}

.about-media__date {
   margin-bottom: 3px;
   color: #969696;
   font-size: 14px;
}

.about-media__link {
   color: #0C319B;
}

.link-style-rule__text {
   color: #0C319B;
}

.about-media__button .button-blue {
   margin: 0 auto;
   text-align: center;
}

@media (max-width:767.98px) {
   .about-media__button .button-blue {
      max-width: 100%;
   }
}



/* ================================= */
/* question */
/* ================================= */
.module__question-title {
   text-align: center;
}

.module__question {
   position: relative;
   line-height: 30px;
   cursor: pointer;
}

.module__question-answer {
   display: flex;
   align-items: center;
   height: 0px;
   overflow: hidden;
   -webkit-transition: height 0.5s ease 0s;
   -moz-transition: height 0.5s ease 0s;
   transition: height 0.5s ease 0s;
}

.module__question-answer-size {
   padding: 40px 20px 20px;
}

.module__question-answer-line {
   height: 20px;
   border-bottom: 1px solid #CEDEF1;
   margin-bottom: 30px;
}

.module__question-item {
   padding: 20px;
   margin-bottom: 4px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   min-height: 100px;
   border-radius: 20px;
   background-color: #ffffff;
   -webkit-transition: all 0.5s ease 0s;
   -moz-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
   font-family: "Nekst";
   font-weight: 400;
   font-size: 24px;
   color: #1843BF;
}

@media (max-width:991.98px) {
   .module__question-answer-size {
      padding: 10px;
   }

   .module__question-answer-line {
      margin-bottom: 20px;
   }

   .module__question-title {
      font-size: 30px;
   }
}

@media (max-width:766.98px) {
   .module__question-item {
      padding: 20px;
      font-size: 20px;
   }

   .module__question-title {
      font-size: 20px;
   }
}

._touch .module__question.module__question-active .module__question-item,
._pc .module__question:hover .module__question-item,
._pc .module__question.module__question-active .module__question-item {
   position: relative;
   z-index: 10;
   -webkit-box-shadow: 0px 1.85185px 3.14815px 0px rgba(87, 144, 187, 0.02), 0px 8.14815px 6.51852px 0px rgba(87, 144, 187, 0.03), 0px 20px 13px 0px rgba(87, 144, 187, 0.04), 0px 38.51852px 25.48148px 0px rgba(87, 144, 187, 0.04);
   box-shadow: 0px 1.85185px 3.14815px 0px rgba(87, 144, 187, 0.02), 0px 8.14815px 6.51852px 0px rgba(87, 144, 187, 0.03), 0px 20px 13px 0px rgba(87, 144, 187, 0.04), 0px 38.51852px 25.48148px 0px rgba(87, 144, 187, 0.04);
}

.module__question-arrow {
   position: relative;
   width: 60px;
   height: 60px;
   fill: transparent;
   transition: all 0.3s;
}

.module__question-arrow-border {
   transition: all 0.3s;
}

.module__question:hover .module__question-arrow-background {
   fill: #F5F8FB;
}

.module__question.module__question-active:hover .module__question-arrow-background {
   fill: transparent;
}

.module__question:hover .module__question-arrow-arrow {
   stroke: #3464EC;
}

.module__question:hover .module__question-arrow-border {
   stroke: transparent;
}

.module__question.module__question-active .module__question-arrow {
   transform: rotate3d(1, 0, 0, 180deg);
}

.module__question.module__question-active .module__question-arrow-arrow {
   stroke: #FF6600;
}

.module__question.module__question-active .module__question-arrow-border {
   stroke: #FF6600;
}

































































































/* ================== */
/* contact form */
/* ================== */

.contact-form {
   padding: 10px;
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.5);
   -webkit-backdrop-filter: blur(2.5px);
   backdrop-filter: blur(2.5px);
   overflow-y: auto;
   display: none;
}

.contact-form__wrapper {
   padding: 20px;
   max-width: 500px;
   background-color: #ffffff;
   border-radius: 20px;
}

.contact-form__body {
   position: relative;
}

.contact-form__textarea {
   padding: 14px 10px;
   margin-bottom: 10px;
   width: 100%;
   height: 260px;
   line-height: 150%;
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
   border: 1px solid #C6D6E5;
   border-radius: 10px;
}

.contact-form__textarea::-webkit-input-placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__textarea::-moz-placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__textarea:-ms-input-placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__textarea::-ms-input-placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__textarea::placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__input {
   padding: 14px 10px;
   margin-bottom: 10px;
   width: 100%;
   border-radius: 10px;
   border: 1px solid #C6D6E5;
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__input::-webkit-input-placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__input::-moz-placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__input:-ms-input-placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__input::-ms-input-placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__input::placeholder {
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__title {
   padding: 6px;
   margin-bottom: 20px;
   color: #343434;
   font-size: 18px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
}

.contact-form__grid {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
}

.contact-form__return {
   position: relative;
}

.contact-form__checked {
   /*  display: none; */
   padding: 14px 10px;
   position: absolute;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 10px;
   top: 47px;
   right: 0;
   background-color: #FFF;
   border-radius: 10px;
   border: 1px solid #C6D6E5;
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__return-value {
   padding: 14px 10px;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   border-radius: 10px;
   border: 1px solid #C6D6E5;
   color: #9FA8B1;
   font-family: Ubuntu;
   font-size: 14px;
}

.contact-form__return-item {
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
   -webkit-transition: color 0.3s, background-color 0.3s;
   -o-transition: color 0.3s, background-color 0.3s;
   transition: color 0.3s, background-color 0.3s;
}

.contact-form__return-item:hover {
   background-color: #1843BF;
   color: #ffffff;
}

.contact-form__return-item input {
   display: none;
}

.contact-form__text {
   margin-bottom: 20px;
   color: #565656;
   text-align: center;
   font-family: Ubuntu;
   font-size: 12px;
   line-height: 150.4%;
}

.contact-form__button.button-blue {
   width: 100%;
   min-height: 50px;
}

.contact-form__arrow {
   -webkit-transition: -webkit-transform 0.5s;
   transition: -webkit-transform 0.5s;
   -o-transition: transform 0.5s;
   transition: transform 0.5s;
   transition: transform 0.5s, -webkit-transform 0.5s;
}

#return-value-block.active .contact-form__arrow {
   -webkit-transform: rotate3d(1, 0, 0, 180deg);
   transform: rotate3d(1, 0, 0, 180deg);
}

.contact-form__checked {
   opacity: 0;
   pointer-events: none;
   -webkit-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;
}

#return-value-block.active .contact-form__checked {
   opacity: 1;
   pointer-events: all;
}

.contact-form__close {
   position: absolute;
   top: 0;
   right: 0;
   padding: 10px;
   border-radius: 5px;
   width: 34px;
   height: 34px;
   background-color: #F5F8FB;
}

#contact_form-block .btn_close_modal {
   top: 0px;
   right: 0px;
}